{
  "name": "{{app_name}}",
  "version": "1.0.0",
  "description": "",
  "main": "dist/bundle.js",
  "jsnext:main": "app/app.js",
  "scripts": {
    "lint": "standard app/**/*.js tests/**/*.js",
    "dev": "mocha tests -w --compilers js:babel-core/register",
    "build": "webpack",
    "clean": "rm -rf dist",
    "test": "mocha tests --compilers js:babel-core/register",
    "docs": "rm -rf docs && jsdoc app -r -d docs"
  },
  "author": "",
  "license": "ISC",
  "devDependencies": {
    "babel": "latest",
    "babel-core": "latest",
    "babel-loader": "latest",
    "babel-preset-es2015": "latest",
    "babel-preset-react": "latest",
    "chai": "latest",
    "mocha": "latest",
    "standard": "latest",
    "webpack": "latest",
    "jsdoc": "latest"
  },
  "standard": {
    "globals": [
      "describe",
      "context",
      "before",
      "beforeEach",
      "after",
      "afterEach",
      "it",
      "expect"
    ]
  }
}